<h4 class="text-center">Login Page Example - Reactive Form - Angular</h4>

<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="form-group">
      <label for="inputEmail">Email address</label>
      <input id="inputEmail" type="email" class="form-control" formControlName="email" placeholder="Enter email">
      <div class="form-text text-muted"
           *ngIf="loginForm.get('email')?.touched && !loginForm.get('email')?.valid" style="color: red">
        Please enter email address.!
      </div>

      <div class="form-text text-muted"
           *ngIf="loginForm.get('email')?.touched && !loginForm.get('email')?.valid" style="color: red">
        Email address not well formed.!
      </div>
    </div>

    <div class="form-group">
      <label for="inputPassword">Password</label>
      <input id="inputPassword" type="password" class="form-control" formControlName="password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Submit</button>
  </form>
</div>
